<h1 class="page-head">Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>

<%= image_tag("Bike.png", class: "img-responsive my-image") %>





<!--
<p>Find me in app/views/static_pages/index.html.erb</p>
-->